@import url('./vars.css');

:root {
    color-scheme: light dark;
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font: 300 10px / 1.35 "Ancizar Sans", sans-serif;
    font-optical-sizing: auto;

    /* Prevent landscape orientation font-size inflation */
    -moz-text-size-adjust: none; /* stylelint-disable-line property-no-vendor-prefix */
    -webkit-text-size-adjust: none; /* stylelint-disable-line property-no-vendor-prefix */
    text-size-adjust: none;

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

body {
    margin: 0;
    background-color: light-dark(var(--gray-3l), var(--gray-3d));
    min-height: 100vh;
    color: light-dark(var(--gray-3d), var(--gray-3l));
}

h1, h2, h3, h4, h5, h6,
b, strong {
    font-weight: 600;
}

p,
ol,
ul,
dl,
table,
blockquote,
figure {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

ul, ol {
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
}

ol ol {
    list-style-type: lower-alpha;
}

select,
input,
button,
textarea {
    font-family: inherit;
    font-size: 1.8rem;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4, h5, h6,
button, input, label {
    line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 2.5rem;
}

/* Links */
a {
    background-color: inherit;
    color: light-dark(var(--primary-link-dark), var(--primary-link-light));

    @media (prefers-reduced-motion: no-preference) {
        transition: color var(--transition);
    }

    &:focus,
    &:hover,
    &:active {
        color: light-dark(var(--gray-3d), var(--gray-3l));
    }
}

/* Page Container */

#page-container {
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
}

/* Page Transition Animation */
#page-content {
    flex: 1 0 auto;
    opacity: 1;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    max-width: 1280px;

    @media (prefers-reduced-motion: no-preference) {
        transition: opacity 0.3s ease-in-out;
    }
}

body.page-is-transitioning #page-content { /* stylelint-disable-line selector-class-pattern */
    opacity: 0;
}

/* Visually hidden */
.visuallyHidden {
    position: absolute;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
